<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.task_manage.domain.repository.mybatis.TaskByUserMapper">
	<!-- マッピング定義 -->
    <resultMap type="com.github.task_manage.domain.model.TaskByUser" id="TaskByUser">
        <id column="task_id" property="taskId" />
        <result column="user_id" property="userId" />
        <result column="task_name" property="taskName" />
        <result column="task_detail" property="taskDetail" />
        <result column="done_flag" property="doneFlag" />
        <result column="deleted_flag" property="deletedFlag" />
    </resultMap>

	<!-- １件insert -->
    <insert id="insert" parameterType="com.github.task_manage.domain.model.TaskByUser">
        INSERT INTO task_by_user (
            user_id,
			task_name,
			task_detail)
        VALUES (
            #{userId},
            #{taskName},
            #{taskDetail})
    </insert>

    <!-- 全件検索 -->
    <select id="selectAllTasks" parameterType="int" resultMap="TaskByUser">
    	SELECT
    		task_id,
    		user_id,
			task_name,
			task_detail,
			done_flag,
			deleted_flag
        FROM
            task_by_user
		WHERE
			user_id = #{userId}
    </select>

    <!-- ユーザーの未完了・未削除の全タスク検索 -->
    <select id="selectNotYetTasks" parameterType="int" resultMap="TaskByUser">
    	SELECT
    		task_id,
    		user_id,
			task_name,
			task_detail,
			done_flag,
			deleted_flag
        FROM
            task_by_user
		WHERE
			user_id = #{userId}
			and done_flag = 0
			and deleted_flag = 0
    </select>

    <!-- 完了した全タスク検索 -->
    <select id="selectDoneTasks" parameterType="int" resultMap="TaskByUser">
    	SELECT
    		task_id,
    		user_id,
			task_name,
			task_detail,
			done_flag,
			deleted_flag
        FROM
            task_by_user
		WHERE
			user_id = #{userId}
			and done_flag = 1
			and deleted_flag = 0
    </select>

    <!-- 削除した全タスク検索(完了したか否かは問わない) -->
    <select id="selectDeletedTasks" parameterType="int" resultMap="TaskByUser">
    	SELECT
    		task_id,
    		user_id,
			task_name,
			task_detail,
			done_flag,
			deleted_flag
        FROM
            task_by_user
		WHERE
			user_id = #{userId}
			and deleted_flag = 1
    </select>

	<!-- １件更新 -->
    <update id="update" parameterType="com.github.task_manage.domain.model.TaskByUser">
        UPDATE task_by_user
        SET
            task_name = #{taskName},
            task_detail = #{taskDetail},
            done_flag = #{doneFlag},
            deleted_flag = #{deletedFlag}
        WHERE task_id = #{taskId}
    </update>

    <!-- １件削除 -->
    <delete id="delete" parameterType="int">
        DELETE FROM task_by_user WHERE task_id = #{taskId}
    </delete>
</mapper>