<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.task_manage.domain.repository.mybatis.TaskRevisionHistoryMapper">
	<!-- マッピング定義 -->
	<resultMap type="com.github.task_manage.domain.model.TaskRevisionHistory" id="TaskRevisionHistory">
		<id column="task_revision_id" property="taskRevisionId" />
		<result column="task_id" property="taskId" />
        <result column="task_name" property="taskName" />
        <result column="task_detail" property="taskDetail" />
        <result column="done_flag" property="doneFlag" />
        <result column="delete_flag" property="deleteFlag" />
        <result column="insert_date_times" property="insertDateTimes" />
	</resultMap>

	<!-- １件insertSelect -->
    <insert id="insertSelectRevision" parameterType="int">
        INSERT INTO task_revision_history (
            task_id,
            task_name,
            task_detail,
            done_flag,
            delete_flag)
        SELECT
        	task_id,
        	task_name,
        	task_detail,
        	done_flag,
        	delete_flag
        FROM task_by_user
        	WHERE user_id = #{userId}
        		order by task_id desc
        		limit 1
    </insert>

    <!-- １件insert -->
    <insert id="insertRevision" parameterType="com.github.task_manage.domain.model.TaskRevisionHistory">
    	INSERT INTO task_revision_history (
            task_id,
            task_name,
            task_detail,
            done_flag,
            delete_flag)
        VALUES (
        	#{taskId},
        	#{taskName},
        	#{taskDetail},
        	#{doneFlag},
        	#{deleteFlag})
    </insert>

    <!-- 1件のタスクに紐づく全履歴レコード検索 -->
    <select id="selectRevisionsOnOneTask" parameterType="int" resultMap="TaskRevisionHistory">
    	SELECT
    		task_revision_id,
    		task_id,
			task_name,
			task_detail,
			done_flag,
			delete_flag,
			insert_date_times
        FROM
            task_revision_history
		WHERE
			task_id = #{taskId}
    </select>

    <!-- 全件検索 -->
    <select id="selectAllRevisions" parameterType="int" resultMap="TaskRevisionHistory">
    	SELECT
    		task_revision_id,
    		task_id,
			task_name,
			task_detail,
			done_flag,
			delete_flag,
			insert_date_times
        FROM
            task_revision_history
		WHERE
			task_id IN (
						SELECT
							task_id
						FROM
							task_by_user
						WHERE
							user_id = #{userId})
    </select>

    <!-- １件更新 -->
    <update id="updateRevision" parameterType="com.github.task_manage.domain.model.TaskRevisionHistory">
    	UPDATE task_revision_history
        SET
            task_name = #{taskName},
            task_detail = #{taskDetail},
            done_flag = #{doneFlag},
            delete_flag = #{deleteFlag}
        WHERE task_revision_id = #{taskRevisionId}
    </update>

	<!-- １件削除 -->
    <delete id="deleteRevision" parameterType="int">
        DELETE FROM task_by_user WHERE task_revision_id = #{taskRevisionId}
    </delete>
</mapper>